*{
    font-family:'Courier New', Courier, monospace;
    margin: 0px;
}
header{
    right: 0;
    top:0;
    text-align: center;
    min-width: 100%;
    min-height: 80px;
    position: relative;
    background-color:#90ADBB;
    z-index: 10;
}
.logo{
    position: absolute;
}
.logo1{
    top:0;
    left: 45%;
    text-align: center;
    position: fixed;
    z-index: 9;
}
.nav-container{
    position:sticky;
    top:0px;
    z-index:8;
    background-color: white;
    min-width: 100%;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-height: 71px;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav ul li{
    margin-top: 2px;
    padding: 20px;
    color: gray;
    float: left;
    list-style-type: none;
}
nav ul li:hover{
    background-color: rgb(201, 198, 198);
    transition: 0.5s;
    color: black;
}
.icon:hover{
    height: 45px;
    transition: 0.3s;
}
.user-icon{
    position: absolute;
    right: 70px;
    top: 15px;
    height: 35px;
}
.search-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    height: 35px;
}