*{
    font-family:'Courier New', Courier, monospace;
}
header{
    top:0;
    text-align: center;
    min-width: 100%;
    min-height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
}

header nav{
    position: absolute;
    top:5px
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li{
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    color: gray;
    float: left;
    list-style-type: none;
}
header nav ul li:hover{
    background-color: whitesmoke;
    transition: 0.5s;
    color: black;
}
